.nav-bar-body{
    padding-left: 660px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    background-color: whitesmoke;
    display: flex;
}
.nav-bar{
    margin-left: 10px;
    text-decoration: none;
    font-size: 22px;
}
.nav-img img{
    height: 100px;
    width: 450px;
    margin-left: -2250px;
    margin-top: -31px;
}
.sign-up{
    margin-left: 20px;
}
.login{
    margin-left: 15px;
}